<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Customer Management System {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    integrity="sha384-rbs5vH1Ud6IyCrLlPyIa6MrBkVa4AZC6gKdq8K7r/AhCJOOhB/EBtfynfoBO8Q6T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JtF9an6/b7VX7oHRfP1UiFhF6pX8pLpM/Ib3L9A2Y21mOhU7R5V/q1iTG0L3Z5gi"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha384-ez6Tl3Je9z58vZbIITv5Ob0GsYsLdXBSuKScxD7GqRHD6Upgb4Pv5PBjTrxNSvHb" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'loading' %}">
      <h4 style="font-family: sans-serif monospace; font-weight: bold;">Customer Relationship Management</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <h6><strong><a class="nav-link" href="{% url 'create' %}"
                style="color: white; padding: 10px; border-bottom: 2px solid transparent; transition: border-color 0.3s;">Add
                New</a></strong></h6>
        </li>
        <li class="nav-item">
          <h6><strong><a class="nav-link" href="{% url 'index' %}"
                style="color: white; padding: 10px; border-bottom: 2px solid transparent; transition: border-color 0.3s;">Records</a></strong>
          </h6>
        </li>
        {% if request.user.is_staff or user.is_superuser %}
        <li class="nav-item">
          <h6><strong><a class="nav-link" href="{% url 'admin:index' %}"
                style="color: white; padding: 10px; border-bottom: 2px solid transparent; transition: border-color 0.3s;">
                <i class="fas fa-user-shield"></i>Admin Site</a></strong></h6>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}

      <a href="{% url 'logout_user' %}">
        <button class="Btn">
          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
              </path>
            </svg>
          </div>
          <div class="text">Logout</div>
        </button>
      </a>


      <h5 id="userlog"><strong style="text-transform: capitalize;"> <span>Welcome Back, </span>{{request.user.username}}
        </strong></h5>
      {% else %}

      <h6><strong><a class="nav-link" href="{% url 'login_user' %}" class="btn1" id="btn">Login</a></strong></h6>

      <h6><strong><a class="nav-link" href="{% url 'register' %}" id="btn">Register</a></strong></h6>
      {% endif %}

    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-center"
    style="text-align: center; padding: 20px; text-transform: capitalize;" role="alert">
    <strong>{{ message.tags }}:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="align-self: center;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

  {% block content %}

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
